/* line 7, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.menu_principale {
  margin: 86px 0 0 auto;
  /* width: 80%; */
}
/* line 10, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.menu_principale ul li {
  display: inline-block;
  margin-right: 5px;
  line-height: 2.6;
}
/* line 14, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.menu_principale ul li a {
  color: #383838;
  font-size: 0.5em;
  vertical-align: bottom;
}
/* line 19, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.menu_principale ul li a:hover {
  color: #19B7D1;
}

/* line 24, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.current {
  background: url("../images/indicatore_pagina.png") no-repeat;
  background-size: 100%;
  /* background-position: 0% -200%; */
  /* background-position: 0% -14px; */
}

/* line 31, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.item-102.current {
  background-size: 90%;
}

/* line 32, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.item-105.current {
  background-size: 122%;
}

/* line 33, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.item-106.current {
  background-size: 182%;
}

/* line 34, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.item-109.current {
  background-size: 160%;
}

/* line 37, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.menu_principale ul li.item-101 {
  display: none;
}

/* line 39, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
section.row:first-of-type {
  /* width: 60%; */
  width: 45%;
  margin-top: 30px;
}

/* line 45, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.logo {
  float: left;
  width: 100px;
  margin-right: 5px;
}

/* line 52, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.sidebar {
  display: none;
}

/* NB: SPOSTARE I TWIRL ADESSO IN LEFT & RIGHT ALL' INTERNO DI HOMEPAGE X ELIMINARE WIDTH > 100% E MARGIN NEGATIVI QUI SOTTO!!! */
/* line 56, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
#slogan {
  font-family: 'BaskervilleClassico W00';
  font-size: 2.5em;
  /* width: 125%; */
  /* margin-left: -15%; */
  margin-bottom: 0px;
}
/* line 61, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
#slogan strong {
  color: #19b7d1;
}

/* line 64, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.bottoni {
  /* width: 300%; */
  /* margin-left: -79%; */
  text-align: center;
}
/* line 68, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.bottoni img {
  display: inline-block;
}

/** BRANDS (HOMEPAGE) */
/* line 74, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.brands {
  text-align: center;
}
/* line 76, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.brands img {
  width: 70px;
  margin: auto 10px;
}
/* line 80, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.brands img.bigger {
  width: 100px;
  margin: auto 10px;
}

/** THE MENU */
/* line 88, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.menu h4 {
  font-family: 'BaskervilleClassicoW00- 867311';
  font-size: 2em;
}
/* line 90, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.menu h4 i {
  font-family: 'BaskervilleClassico';
}

/* line 93, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.menu h4.dolci {
  color: #A87B35;
}

/* line 94, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.menu h4.te {
  color: #9C71AB;
}

/* line 95, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.menu h4.lunch {
  color: #BBD26D;
}

/* line 96, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.menu h4.cioccolate {
  color: #004E71;
}

/* line 97, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.menu h4.bevande {
  color: #008FCA;
}

/* line 98, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.menu li {
  list-style-type: none;
  line-height: 18px;
}

/* line 103, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
#credits {
  font-size: 0.5em;
  margin: -17px 10px 0;
  float: right;
  line-height: 8px;
  text-align: center;
}

/* line 109, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
iframe {
  border: 0px;
}

/** SIDE BOTTONE */
/* line 114, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.side_bottone {
  float: right;
  margin: 40px -10px 0 0;
}

/** APPENA SFORNATI */
/* line 121, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
footer.article-info {
  background-color: transparent;
  border-top: dashed 0.15em #383838;
  border-bottom: dashed 0.15em #383838;
  color: #383838;
  font-size: 0.8em;
}
/* line 127, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
footer.article-info ul {
  margin-bottom: 0px;
}
/* line 128, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
footer.article-info li {
  list-style: none;
}

/* line 131, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.blog .article-body > img {
  width: 100%;
}

/* line 132, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.blog .article-body p {
  color: #383838;
  margin-top: 10px;
}

/* line 137, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
header > h1 {
  font-size: 1.5em;
  color: #383838;
}

/** FOOTER */
/* line 145, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.footer_strip {
  background: url("../images/footer_strip.png") repeat-x;
  background-size: 100px;
  height: 20px;
}

/* line 154, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
footer {
  margin: 0;
  max-width: 100% !important;
  /* background-color: #373938; */
  background-position: 0 20px;
  color: #6f6f6f;
}
/* line 160, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
footer .moduletable .footer > .row {
  margin: 0 auto;
}
/* line 163, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
footer h4 {
  text-align: center;
  font-size: 0.9em;
}
/* line 167, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
footer li {
  text-align: center;
  font-size: 0.7em;
  list-style-type: none;
  line-height: 15px;
}

/* line 175, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
.footer .row {
  margin-right: 0px;
  margin-left: 0px;
  background-color: #373938;
}

@media only screen and (min-width: 768px) {
  /* line 182, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
  .sidebar {
    display: block;
  }

  /* line 183, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
  .menu_principale {
    margin: 10px 0 0 auto;
  }

  /* line 186, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
  footer li, footer h4 {
    text-align: left;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1700px) {
  /* line 190, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
  section.row:first-of-type {
    width: 35%;
  }
}
@media only screen and (min-width: 1700px) {
  /* line 194, ../gems/ruby/1.9.1/gems/zurb-foundation-4.3.2/scss/app.scss */
  section.row:first-of-type {
    width: 31%;
  }
}
